<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<SexyContent FileVersion="07.00.00" MinimumRequiredVersion="07.04.02" ModuleVersion="14.04.00" ExportDate="2022-07-08T16:50:32.5061977+02:00">
  <Header>
    <App Guid="692a7f92-4c92-42d7-8bf7-3bbb3d4cdc55" />
    <Language Default="en-us" />
    <Dimensions />
  </Header>
  <AttributeSets>
    <AttributeSet StaticName="App-Resources" Name="App-Resources" Description="Stores resources like translations for an app" Scope="System.App" AlwaysShareConfiguration="false">
      <Attributes />
    </AttributeSet>
    <AttributeSet StaticName="App-Settings" Name="App-Settings" Description="Stores settings for an app" Scope="System.App" AlwaysShareConfiguration="false">
      <Attributes />
    </AttributeSet>
    <AttributeSet StaticName="1e1c4565-5be0-4555-9a59-8236246717b2" Name="BusinessUnit" Description="" Scope="Default" AlwaysShareConfiguration="false">
      <Attributes>
        <Attribute StaticName="Name" Type="String" IsTitle="true">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="e2227a01-06e9-40f8-a33b-0d26b586ad00" Json="True" KeyNumber="1">
            <Value Key="InputType" Value="string-default" Type="String" />
            <Value Key="Name" Value="Name" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
        <Attribute StaticName="Description" Type="String" IsTitle="false">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="0dd5f879-c60c-416f-a9ac-e668c28f20cf" Json="True" KeyNumber="2">
            <Value Key="InputType" Value="string-wysiwyg" Type="String" />
            <Value Key="Name" Value="Description" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
      </Attributes>
    </AttributeSet>
    <AttributeSet StaticName="d5fbbcd6-e87b-4370-9e76-8c89f146cbe8" Name="Person" Description="Person" Scope="Default" AlwaysShareConfiguration="false">
      <Attributes>
        <Attribute StaticName="Name" Type="String" IsTitle="true">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="c8a46835-b070-4d48-8fc6-7b6d659b1709" Json="True" KeyNumber="3">
            <Value Key="InputType" Value="string-default" Type="String" />
            <Value Key="Name" Value="Name" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
        <Attribute StaticName="Photo" Type="Hyperlink" IsTitle="false">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="126986a5-2555-4dd5-9e85-18cacb5909b7" Json="True" KeyNumber="4">
            <Value Key="InputType" Value="hyperlink-default" Type="String" />
            <Value Key="Name" Value="Photo" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
        <Attribute StaticName="BusinessUnits" Type="Entity" IsTitle="false">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="00d4df46-bd12-4ba9-80e5-d73f604cafcc" Json="True" KeyNumber="5">
            <Value Key="CustomJavaScript" Value="" Type="String" />
            <Value Key="DefaultValue" Value="" Type="String" />
            <Value Key="Disabled" Value="False" Type="Boolean" />
            <Value Key="InputType" Value="entity-default" Type="String" />
            <Value Key="Name" Value="BusinessUnit" Type="String" />
            <Value Key="Notes" Value="" Type="String" />
            <Value Key="Required" Value="False" Type="Boolean" />
            <Value Key="ValidationRegExJavaScript" Value="" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@Entity" AttributeSetName="@Entity" EntityGUID="4b25f4ce-8000-4994-8298-50b4dd49fafd" Json="True" KeyNumber="5">
            <Value Key="AllowMultiValue" Value="True" Type="Boolean" />
            <Value Key="EnableAddExisting" Value="True" Type="Boolean" />
            <Value Key="EnableCreate" Value="True" Type="Boolean" />
            <Value Key="EnableDelete" Value="False" Type="Boolean" />
            <Value Key="EnableEdit" Value="True" Type="Boolean" />
            <Value Key="EnableRemove" Value="True" Type="Boolean" />
            <Value Key="EntityType" Value="BusinessUnit" Type="String" />
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@entity-default" AttributeSetName="@entity-default" EntityGUID="06a23fcd-aada-4b83-ae4a-2110abbf14dd" Json="True" KeyNumber="5" />
        </Attribute>
      </Attributes>
    </AttributeSet>
  </AttributeSets>
  <Entities>
    <Entity TargetType="3" AssignmentObjectType="App" AttributeSetStaticName="2SexyContent-App" AttributeSetName="2SexyContent-App" EntityGUID="12ab8b9d-e6e4-41ad-ba75-3589cb41dd4c" Json="True" KeyNumber="6">
      <Value Key="AllowRazorTemplates" Value="True" Type="Boolean" />
      <Value Key="AllowTokenTemplates" Value="False" Type="Boolean" />
      <Value Key="Description" Value="" Type="String" />
      <Value Key="DisplayName" Value="Template-Angular14" Type="String" />
      <Value Key="Folder" Value="Template-Angular11" Type="String" />
      <Value Key="Hidden" Value="False" Type="Boolean" />
      <Value Key="OriginalId" Value="" Type="String" />
      <Value Key="RequiredDnnVersion" Value="07.02.00" Type="String" />
      <Value Key="RequiredOqtaneVersion" Value="" Type="String" />
      <Value Key="RequiredVersion" Value="13.00.00" Type="String" />
      <Value Key="SupportsAjaxReload" Value="False" Type="Boolean" />
      <Value Key="Version" Value="14.00.00" Type="String" />
    </Entity>
    <Entity TargetType="3" AssignmentObjectType="App" AttributeSetStaticName="App-Settings" AttributeSetName="App-Settings" EntityGUID="6ecedfbf-5747-4c3a-bc51-226f318ded41" KeyNumber="6" />
    <Entity TargetType="3" AssignmentObjectType="App" AttributeSetStaticName="App-Resources" AttributeSetName="App-Resources" EntityGUID="e6439c35-f628-4385-8a35-e091adc5452a" KeyNumber="6" />
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="2SexyContent-Template" AttributeSetName="2SexyContent-Template" EntityGUID="ac6d060b-809c-4984-a544-5e38d1df6f82" Json="True">
      <Value Key="ContentTypeStaticName" Value="" Type="String" />
      <Value Key="Icon" Value="" Type="Hyperlink" />
      <Value Key="Identifier" Value="" Type="String" />
      <Value Key="IsHidden" Value="False" Type="Boolean" />
      <Value Key="ListContentTypeStaticName" Value="" Type="String" />
      <Value Key="ListPresentationTypeStaticName" Value="" Type="String" />
      <Value Key="Location" Value="Site" Type="String" />
      <Value Key="Name" Value="Angular App" Type="String" />
      <Value Key="Path" Value="_AngularApp.cshtml" Type="String" />
      <Value Key="PresentationTypeStaticName" Value="" Type="String" />
      <Value Key="PublishData" Value="False" Type="Boolean" />
      <Value Key="SearchIndexingDisabled" Value="False" Type="Boolean" />
      <Value Key="SearchIndexingStreams" Value="" Type="String" />
      <Value Key="StreamsToPublish" Value="" Type="String" />
      <Value Key="Type" Value="C# Razor" Type="String" />
      <Value Key="UseForList" Value="False" Type="Boolean" />
      <Value Key="ViewController" Value="" Type="String" />
      <Value Key="ViewNameInUrl" Value="" Type="String" />
    </Entity>
    <Entity TargetType="4" AssignmentObjectType="Entity" AttributeSetStaticName="PermissionConfiguration" AttributeSetName="PermissionConfiguration" EntityGUID="8786c093-5a95-44d0-a223-b70c6e7fd3e2" Json="True" KeyGuid="d5fbbcd6-e87b-4370-9e76-8c89f146cbe8">
      <Value Key="Condition" Value="SecurityAccessLevel.View" Type="String" />
      <Value Key="Grant" Value="r" Type="String" />
      <Value Key="Identity" Value="" Type="String" />
      <Value Key="Title" Value="Security Rule" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d5fbbcd6-e87b-4370-9e76-8c89f146cbe8" AttributeSetName="Person" EntityGUID="147f401b-1623-4aac-8d2e-700c624e281c">
      <Value Key="BusinessUnits" Value="1252c52c-30e4-4c9f-8d45-e094160ca251" Type="Entity" />
      <Value Key="Name" Value="Hans" Type="String" />
      <Value Key="Photo" Value="file:4613" Type="Hyperlink" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d5fbbcd6-e87b-4370-9e76-8c89f146cbe8" AttributeSetName="Person" EntityGUID="214b9edf-883b-40bf-9fe6-75c596fe4e9a">
      <Value Key="BusinessUnits" Value="1252c52c-30e4-4c9f-8d45-e094160ca251" Type="Entity" />
      <Value Key="Name" Value="Laura" Type="String" />
      <Value Key="Photo" Value="file:4610" Type="Hyperlink" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="1e1c4565-5be0-4555-9a59-8236246717b2" AttributeSetName="BusinessUnit" EntityGUID="1252c52c-30e4-4c9f-8d45-e094160ca251">
      <Value Key="Description" Value="&lt;p&gt;We create websites!&lt;/p&gt;" Type="String" />
      <Value Key="Name" Value="Web" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="1e1c4565-5be0-4555-9a59-8236246717b2" AttributeSetName="BusinessUnit" EntityGUID="c89cb53b-0f7b-441a-9e6c-5467dd9322e9">
      <Value Key="Description" Value="&lt;p&gt;Our development unit&lt;/p&gt;" Type="String" />
      <Value Key="Name" Value="Dev" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="1e1c4565-5be0-4555-9a59-8236246717b2" AttributeSetName="BusinessUnit" EntityGUID="fa4a1de9-adf5-4e1d-ab70-63281b3e797b">
      <Value Key="Description" Value="&lt;p&gt;Everything regarding efficiency - like &lt;a href=&quot;https://sphosting.ch&quot; target=&quot;_blank&quot; rel=&quot;noopener&quot;&gt;SharePoint&lt;/a&gt;, Word &amp;amp; Excel automation, &lt;a href=&quot;https://azing.org&quot; target=&quot;_blank&quot; rel=&quot;noopener&quot;&gt;azing.org&lt;/a&gt;&lt;/p&gt;" Type="String" />
      <Value Key="Name" Value="Eff" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d5fbbcd6-e87b-4370-9e76-8c89f146cbe8" AttributeSetName="Person" EntityGUID="c5a71c04-9b41-465c-8cdf-724052cdfa6d">
      <Value Key="BusinessUnits" Value="fa4a1de9-adf5-4e1d-ab70-63281b3e797b" Type="Entity" />
      <Value Key="Name" Value="Anna-Marie" Type="String" />
      <Value Key="Photo" Value="file:4611" Type="Hyperlink" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d5fbbcd6-e87b-4370-9e76-8c89f146cbe8" AttributeSetName="Person" EntityGUID="b4035e17-6046-4f30-934e-373a241ae1b6">
      <Value Key="BusinessUnits" Value="fa4a1de9-adf5-4e1d-ab70-63281b3e797b,c89cb53b-0f7b-441a-9e6c-5467dd9322e9,1252c52c-30e4-4c9f-8d45-e094160ca251" Type="Entity" />
      <Value Key="Name" Value="Cassandra" Type="String" />
      <Value Key="Photo" Value="file:4612" Type="Hyperlink" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d5fbbcd6-e87b-4370-9e76-8c89f146cbe8" AttributeSetName="Person" EntityGUID="9fab0f66-ff61-44c5-b644-c37735ea20c1">
      <Value Key="BusinessUnits" Value="fa4a1de9-adf5-4e1d-ab70-63281b3e797b,c89cb53b-0f7b-441a-9e6c-5467dd9322e9" Type="Entity" />
      <Value Key="Name" Value="Audrey" Type="String" />
      <Value Key="Photo" Value="file:4616" Type="Hyperlink" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d5fbbcd6-e87b-4370-9e76-8c89f146cbe8" AttributeSetName="Person" EntityGUID="0aca5993-72a1-412c-98d9-fc0a3b64302a">
      <Value Key="BusinessUnits" Value="fa4a1de9-adf5-4e1d-ab70-63281b3e797b,1252c52c-30e4-4c9f-8d45-e094160ca251" Type="Entity" />
      <Value Key="Name" Value="Chen" Type="String" />
      <Value Key="Photo" Value="file:4614" Type="Hyperlink" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d5fbbcd6-e87b-4370-9e76-8c89f146cbe8" AttributeSetName="Person" EntityGUID="20701c5b-d8b0-4170-b376-43e47c892e1d">
      <Value Key="BusinessUnits" Value="1252c52c-30e4-4c9f-8d45-e094160ca251" Type="Entity" />
      <Value Key="Name" Value="François" Type="String" />
      <Value Key="Photo" Value="file:4615" Type="Hyperlink" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="DataPipeline" AttributeSetName="DataPipeline" EntityGUID="fe694c5c-816f-436c-9a40-13d3537ffbdd" Json="True">
      <Value Key="AllowEdit" Value="True" Type="Boolean" />
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="BusinessUnitTeam" Type="String" />
      <Value Key="StreamsOut" Value="ListContent,Default" Type="String" />
      <Value Key="StreamWiring" Value="ae78e339-c8aa-4860-aacf-03203dfd4c48:Default&gt;e94b2769-d303-436e-9915-93792556465c:Default&#xD;&#xA;ae78e339-c8aa-4860-aacf-03203dfd4c48:Drafts&gt;e94b2769-d303-436e-9915-93792556465c:Drafts&#xD;&#xA;ae78e339-c8aa-4860-aacf-03203dfd4c48:Published&gt;e94b2769-d303-436e-9915-93792556465c:Published&#xD;&#xA;e94b2769-d303-436e-9915-93792556465c:Default&gt;6396f820-e27f-4a49-a315-48eb2af16460:Default&#xD;&#xA;6396f820-e27f-4a49-a315-48eb2af16460:Person&gt;1a25f18c-6fc0-4af2-b26b-acdec0c2b2a5:Default&#xD;&#xA;6396f820-e27f-4a49-a315-48eb2af16460:Person&gt;1a25f18c-6fc0-4af2-b26b-acdec0c2b2a5:Fallback&#xD;&#xA;1a25f18c-6fc0-4af2-b26b-acdec0c2b2a5:Default&gt;fa7113e6-6e25-4814-b5a2-4ecdbe4ed579:Default&#xD;&#xA;fa7113e6-6e25-4814-b5a2-4ecdbe4ed579:Default&gt;Out:Default" Type="String" />
      <Value Key="TestParameters" Value="[QueryString:Bu]=Web" Type="String" />
    </Entity>
    <Entity TargetType="4" AssignmentObjectType="Entity" AttributeSetStaticName="DataPipelinePart" AttributeSetName="DataPipelinePart" EntityGUID="ae78e339-c8aa-4860-aacf-03203dfd4c48" Json="True" KeyGuid="fe694c5c-816f-436c-9a40-13d3537ffbdd">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="ICache" Type="String" />
      <Value Key="PartAssemblyAndType" Value="ToSic.Eav.DataSources.Caches.ICache, ToSic.Eav.DataSources" Type="String" />
      <Value Key="VisualDesignerData" Value="{&#xD;&#xA;  &quot;Top&quot;: 600,&#xD;&#xA;  &quot;Left&quot;: 434&#xD;&#xA;}" Type="String" />
    </Entity>
    <Entity TargetType="4" AssignmentObjectType="Entity" AttributeSetStaticName="DataPipelinePart" AttributeSetName="DataPipelinePart" EntityGUID="e94b2769-d303-436e-9915-93792556465c" Json="True" KeyGuid="fe694c5c-816f-436c-9a40-13d3537ffbdd">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="PublishingFilter" Type="String" />
      <Value Key="PartAssemblyAndType" Value="ToSic.Eav.DataSources.PublishingFilter, ToSic.Eav.DataSources" Type="String" />
      <Value Key="VisualDesignerData" Value="{&#xD;&#xA;  &quot;Top&quot;: 472,&#xD;&#xA;  &quot;Left&quot;: 420&#xD;&#xA;}" Type="String" />
    </Entity>
    <Entity TargetType="4" AssignmentObjectType="Entity" AttributeSetStaticName="DataPipelinePart" AttributeSetName="DataPipelinePart" EntityGUID="6396f820-e27f-4a49-a315-48eb2af16460" Json="True" KeyGuid="fe694c5c-816f-436c-9a40-13d3537ffbdd">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="App" Type="String" />
      <Value Key="PartAssemblyAndType" Value="ToSic.Eav.DataSources.App, ToSic.Eav.DataSources" Type="String" />
      <Value Key="VisualDesignerData" Value="{&#xD;&#xA;  &quot;Top&quot;: 329,&#xD;&#xA;  &quot;Left&quot;: 420&#xD;&#xA;}" Type="String" />
    </Entity>
    <Entity TargetType="4" AssignmentObjectType="Entity" AttributeSetStaticName="DataPipelinePart" AttributeSetName="DataPipelinePart" EntityGUID="1a25f18c-6fc0-4af2-b26b-acdec0c2b2a5" Json="True" KeyGuid="fe694c5c-816f-436c-9a40-13d3537ffbdd">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="RelationshipFilter" Type="String" />
      <Value Key="PartAssemblyAndType" Value="ToSic.Eav.DataSources.RelationshipFilter, ToSic.Eav.DataSources" Type="String" />
      <Value Key="VisualDesignerData" Value="{&#xD;&#xA;  &quot;Top&quot;: 207,&#xD;&#xA;  &quot;Left&quot;: 420&#xD;&#xA;}" Type="String" />
    </Entity>
    <Entity TargetType="4" AssignmentObjectType="Entity" AttributeSetStaticName="|Config ToSic.Eav.DataSources.RelationshipFilter" AttributeSetName="ToSic.Eav.DataSources.RelationshipFilter" EntityGUID="ad2f3cff-11c4-4bf1-9965-1b00e710f251" Json="True" KeyGuid="1a25f18c-6fc0-4af2-b26b-acdec0c2b2a5">
      <Value Key="AttributeOnRelationship" Value="EntityTitle" Type="String" />
      <Value Key="Comparison" Value="" Type="String" />
      <Value Key="Filter" Value="[QueryString:Bu]" Type="String" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Relationship" Value="BusinessUnits" Type="String" />
      <Value Key="Separator" Value="" Type="String" />
      <Value Key="Title" Value="Find all people in a business unit" Type="String" />
    </Entity>
    <Entity TargetType="4" AssignmentObjectType="Entity" AttributeSetStaticName="DataPipelinePart" AttributeSetName="DataPipelinePart" EntityGUID="fa7113e6-6e25-4814-b5a2-4ecdbe4ed579" Json="True" KeyGuid="fe694c5c-816f-436c-9a40-13d3537ffbdd">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="ValueSort" Type="String" />
      <Value Key="PartAssemblyAndType" Value="ToSic.Eav.DataSources.ValueSort, ToSic.Eav.DataSources" Type="String" />
      <Value Key="VisualDesignerData" Value="{&#xD;&#xA;  &quot;Top&quot;: 110,&#xD;&#xA;  &quot;Left&quot;: 429&#xD;&#xA;}" Type="String" />
    </Entity>
    <Entity TargetType="4" AssignmentObjectType="Entity" AttributeSetStaticName="|Config ToSic.Eav.DataSources.ValueSort" AttributeSetName="ToSic.Eav.DataSources.ValueSort" EntityGUID="9e14fbd6-3529-455c-ab7e-1df730a8afd1" Json="True" KeyGuid="fa7113e6-6e25-4814-b5a2-4ecdbe4ed579">
      <Value Key="Attributes" Value="Name" Type="String" />
      <Value Key="Directions" Value="asc" Type="String" />
    </Entity>
    <Entity TargetType="4" AssignmentObjectType="Entity" AttributeSetStaticName="PermissionConfiguration" AttributeSetName="PermissionConfiguration" EntityGUID="7e2586eb-9c9d-4813-bd1e-2de4523f9226" Json="True" KeyGuid="fe694c5c-816f-436c-9a40-13d3537ffbdd">
      <Value Key="Condition" Value="SecurityAccessLevel.View" Type="String" />
      <Value Key="Grant" Value="r" Type="String" />
      <Value Key="Identity" Value="" Type="String" />
      <Value Key="Title" Value="Security Rule" Type="String" />
    </Entity>
    <Entity TargetType="4" AssignmentObjectType="Entity" AttributeSetStaticName="PermissionConfiguration" AttributeSetName="PermissionConfiguration" EntityGUID="a0d35f9b-12b0-4b33-abee-481da7e5ffa9" Json="True" KeyGuid="1e1c4565-5be0-4555-9a59-8236246717b2">
      <Value Key="Condition" Value="SecurityAccessLevel.View" Type="String" />
      <Value Key="Grant" Value="r" Type="String" />
      <Value Key="Identity" Value="" Type="String" />
      <Value Key="Title" Value="Enable Users to access" Type="String" />
    </Entity>
  </Entities>
  <PortalFiles />
  <PortalFolders>
    <Folder Id="41" RelativePath="adam/Template-Angular11/" />
    <Folder Id="44" RelativePath="adam/Template-Angular11/355LITuIv0Cf5nXFlv5Omg/" />
    <Folder Id="45" RelativePath="adam/Template-Angular11/355LITuIv0Cf5nXFlv5Omg/Photo/" />
    <Folder Id="58" RelativePath="adam/Template-Angular11/7bEh07LU5UqJFYuzpUxx_g/" />
    <Folder Id="59" RelativePath="adam/Template-Angular11/7bEh07LU5UqJFYuzpUxx_g/Photo/" />
    <Folder Id="56" RelativePath="adam/Template-Angular11/-9721Kk7-E-SMcuizd14LA/" />
    <Folder Id="57" RelativePath="adam/Template-Angular11/-9721Kk7-E-SMcuizd14LA/Photo/" />
    <Folder Id="46" RelativePath="adam/Template-Angular11/BBynxUGbXEaM33JAUs36bQ/" />
    <Folder Id="47" RelativePath="adam/Template-Angular11/BBynxUGbXEaM33JAUs36bQ/Photo/" />
    <Folder Id="48" RelativePath="adam/Template-Angular11/F14DtEZgME-TTjc6JBrhtg/" />
    <Folder Id="49" RelativePath="adam/Template-Angular11/F14DtEZgME-TTjc6JBrhtg/Photo/" />
    <Folder Id="42" RelativePath="adam/Template-Angular11/G0B_FCMWrEqNLnAMYk4oHA/" />
    <Folder Id="43" RelativePath="adam/Template-Angular11/G0B_FCMWrEqNLnAMYk4oHA/Photo/" />
    <Folder Id="52" RelativePath="adam/Template-Angular11/k1nKCqFyLEGY2fwKO2QwKg/" />
    <Folder Id="53" RelativePath="adam/Template-Angular11/k1nKCqFyLEGY2fwKO2QwKg/Photo/" />
    <Folder Id="60" RelativePath="adam/Template-Angular11/lf-uCPaPu0WaYvmUa3J4Qw/" />
    <Folder Id="61" RelativePath="adam/Template-Angular11/lf-uCPaPu0WaYvmUa3J4Qw/Photo/" />
    <Folder Id="54" RelativePath="adam/Template-Angular11/WxxwILDYcEGzdkPkfIkuHQ/" />
    <Folder Id="55" RelativePath="adam/Template-Angular11/WxxwILDYcEGzdkPkfIkuHQ/Photo/" />
    <Folder Id="62" RelativePath="adam/Template-Angular11/xMZTU5XzjEKZ5HNH1b6VDw/" />
    <Folder Id="63" RelativePath="adam/Template-Angular11/xMZTU5XzjEKZ5HNH1b6VDw/Photo/" />
    <Folder Id="50" RelativePath="adam/Template-Angular11/Zg-rn2H_xUS2RMN3NeogwQ/" />
    <Folder Id="51" RelativePath="adam/Template-Angular11/Zg-rn2H_xUS2RMN3NeogwQ/Photo/" />
  </PortalFolders>
</SexyContent>