@using System.Text.RegularExpressions;

@{
    // Change the Angular app name to match your application
    var appName = "test-dnn-sxc-angular";

    var cookieKey = "app-" + App.AppId + "-edition";
    var edition = Request.Cookies.AllKeys.Contains(cookieKey) ? Request.Cookies[cookieKey].Value : "live";

    var resourcesPath = App.Path + "/" + edition + "/dist/" + appName;
    
    if(edition == "local") {
        resourcesPath = "http://localhost:4200";
    }
}

@if(Dnn.User.IsSuperUser) {
    <script>
        window.sxcAngularApp = {
            // Source: https://stackoverflow.com/questions/14573223/set-cookie-and-get-cookie-with-javascript
            setCookie: function setCookie(name,value,days) {
                var expires = "";
                if (days) {
                    var date = new Date();
                    date.setTime(date.getTime() + (days*24*60*60*1000));
                    expires = "; expires=" + date.toUTCString();
                }
                document.cookie = name + "=" + (value || "")  + expires + "; path=/";
            },
            eraseCookie: function eraseCookie(name) {   
                document.cookie = name+'=; Max-Age=-99999999;';  
            },
            setEdition: function setEdition(edition) {
                let cookieName = 'app-@App.AppId-edition';
                if(edition)
                    this.setCookie(cookieName, edition);
                else
                    this.eraseCookie(cookieName);
            }
        }
    </script>
    <div class="alert alert-info">
        <p>Change edition (current: @edition):</p>
        <div class="btn-group">
            <button onclick="sxcAngularApp.setEdition()" class="btn btn-default">Live</button>
            <button onclick="sxcAngularApp.setEdition('staging')" class="btn btn-default">Staging</button>
            <button onclick="sxcAngularApp.setEdition('local')" class="btn btn-default">Local</button>
        </div>
    </div>
}

<script type="text/javascript" src="/desktopmodules/tosic_sexycontent/js/2sxc.api.min.js"></script>
<base href="/">

@if(edition != "local") {
    // Read body contents from index.html
    var html_orig = System.IO.File.ReadAllText(Server.MapPath(resourcesPath + "/index.html"));
    // Add body contents
    var html = Regex.Match(html_orig, "<body>(.*?)</body>", RegexOptions.Singleline).Groups[1].Value;
    // Add stylesheets
    html += Regex.Match(html_orig, "<link rel=\"stylesheet\".*?>", RegexOptions.Singleline).Groups[0].Value;
    // Change stylesheet and script paths
    html = Regex.Replace(html, "(src|href)=\"(.*?)\"", "$1=\"" + resourcesPath + "/$2\"");
    
    <text>@Html.Raw(html)</text>
} else {
    <app-root></app-root>
    <script src="@resourcesPath/runtime.js" type="module"></script>
    <script src="@resourcesPath/polyfills.js" type="module"></script>
    <script src="@resourcesPath/styles.js" type="module"></script>
    <script src="@resourcesPath/vendor.js" type="module"></script>
    <script src="@resourcesPath/main.js" type="module"></script>
}
