@inherits Custom.Hybrid.RazorTyped
@using AppCode.Extensions.JsAppEditions

@{
  // -------------------------------- Show Edition Select -------------------------------
  //Show the toolbar to select an edition - usually only for the superuser / developer

  var editionHelper = GetService<JsAppEditionService>();
  var currentEdition = editionHelper.CurrentEdition;

  var editions = MyModel.String("Editions").Split(',');
}
<div class="alert alert-info">
  <div class="btn-toolbar align-items-center">
    <div>
      Edition to show: &nbsp;
    </div>
    <div class="btn-group btn-group-sm">
      @foreach (var name in editions)
      {
        var selected = name == currentEdition ? "active" : "not-selected";
        <button type="button" onclick="sxcJsAppEditions.setEdition('@name', '@editionHelper.EditionCookieName()')" class='btn btn-outline-secondary @selected'>
          @name
        </button>
      }
    </div>
  </div>
</div>

<script>
  window.sxcJsAppEditions = window.sxcJsAppEditions || {
    // Source: https://stackoverflow.com/questions/14573223/set-cookie-and-get-cookie-with-javascript
    setCookie: function setCookie(name, value, days) {
      var expires = "";
      if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
        expires = "; expires=" + date.toUTCString();
      }
      document.cookie = name + "=" + (value || "") + expires + "; path=/";
    },
    eraseCookie: function eraseCookie(name) {
      document.cookie = name + '=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/';
    },
    setEdition: function setEdition(edition, cookieName) {
      if (edition)
        this.setCookie(cookieName, edition);
      else
        this.eraseCookie(cookieName);

      // reload page, preserving hash & route
      location.reload();
    }
  };
</script>