

<h3>Develop locally - auto-deploy to Dnn Server</h3>
<p>
  Since you'll do most of the Angular development locally, we made sure that deployment to the target server is super easy. This helps if you have a normal network connection. If you use FTP, you'll have to do the deployment manually.
</p>
<ul>
  <li>In the <code>package.json</code> there is a property <code>publish_path</code> containing the target where the live server is</li>
  <li>Running <code>npm run build-to-staging</code> or <code>npm run build-to-live</code> will auto-build and deploy to these editions on the live server</li>
</ul>

