
<h3>Hot-Loading: Develop locally, run live in DNN</h3>
<p>
  You get up to 10x faster development when you can use live-compile and see the results in DNN from your local dev environment. Here's how it works:
</p>
<ol>
  <li>First you copy the app to your local drive (or clone the same repo to a local folder) and initialize everything (see checklist)</li>
  <li>Then you run <code>npm run local</code> in your console. This will start <code>ng serve</code> on <em>localhost:4200</em> and whenever you save a code file, it recompiles in seconds.</li>
  <li>Our connector code in the <code>_AngularIntegration.cshtml</code> will now auto-load all the default bits so it just works!</li>
</ol>
