<h2>
  Welcome to the Angular 11 Template App
</h2>
<p>
  This app shows you how to leverage Angular 11 inside DNN and 2sxc. It will show you how to...
</p>
<ol>
  <li>integrate Angular inside DNN</li>
  <li>use routing (the url which switches SPA views)</li>
  <li>access data from content-items and queries</li>
  <li>call backend WebAPIs</li>
  <li>develop on your local PC while running the app with live-reloading inside DNN 👍</li>
</ol>

<h3>Integrate Angular 11 inside DNN</h3>
<p>
  Adding an Angular-App to DNN is kind of simple, but doing it right requires quite a bit of thought.
  These are the parts we solved really well - which we recommend you use as inspiration:
</p>
<ul>
  <li>Our Razor-view <code>_AngularApp.cshtml</code> </li>
</ul>
