<h2>
  Welcome to the Angular 14 Template App for DNN/2sxc
</h2>
<p>
  This app shows you how to leverage Angular 14 inside DNN and 2sxc. This app will show you how to do all these things. <br>
  Click on the items below to learn more:
</p>
<ol>
  <li>
    <a [routerLink]="['../intro/integrate']" routerLinkActive="active"><strong>Integrate Angular</strong> into DNN (the right way 😉)</a>
  </li>
  <li>
    <a [routerLink]="['../intro/routing']" routerLinkActive="active">Use <strong>Angular Routing</strong> within DNN pages (the url which switches SPA views)</a>
  </li>
  <li>
    access data from content-items and queries
  </li>
  <li>
    Call backend WebAPIs
  </li>

  <li>
    <a [routerLink]="['../intro/hot-loading']" routerLinkActive="active"><strong>Hot-Loading</strong>: develop on your local PC while running the app with live-reloading inside DNN 😎</a>
  </li>
  <li>
    <a [routerLink]="['../intro/conventions']" routerLinkActive="active"><strong>Conventions</strong>: best-practice conventions to learn while you discover</a>
  </li>
  <li>
    <a [routerLink]="['../intro/deploy']" routerLinkActive="active"><strong>Quick-Deploy</strong>: delpoy to various editions with an <code>npm run</code> call</a>
  </li>
</ol>

<hr>
<!-- This is the target where sub-pages are shown -->
<router-outlet></router-outlet>
